<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296309817378-9t5vtt414afnp85sk81129rtfven7g7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296309817378-9t5vtt414afnp85sk81129rtfven7g7b</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wy200ImBgNKgMDCL1Ehe8m-4ktzapC8</string>
	<key>GCM_SENDER_ID</key>
	<string>296309817378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>capstone-de1d4</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-de1d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296309817378:ios:24d4d2c62efa1668dc8a7b</string>
</dict>
</plist>